build-Debug
Debug
./Makefile
Exercise10/*.txt
Exercise10/*.mk
Exercise06/*.txt
Exercise06/*.mk
Release
Release_gcc_unicode
DebugUnicode
Makefile
*.session
*.tags
*.d
*.o
*.pyc
*.lib
*.a
bin
bin/ofMaker
lib
.codelite
.build-debug
*.mk
*.workspace.session

